services:
  api:
    build: ./Strativ.Api
    ports:
      - "8080:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
    depends_on:
      - redis

  redis:
    image: redis:alpine
    ports:
      - "6379:6379"
